body {
  position: relative;
  min-height: 100vh;
  background-image: url(/images/wallpaper3.png);
  background-repeat: no-repeat;
  background-attachment: fixed;
  margin: 0;
}

body::before {
  content: "";
  position: fixed;
  /* Cambiado de 'absolute' a 'fixed' */
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.9);
  /* Cambia el valor de 0.5 para ajustar la opacidad */
  z-index: -1;
}


body,
h1,
h2,
h3,
h4,
h5,
h6,
p,
a,
li,
label,
input,
textarea,
button {
  color: white;
}

.contact-area {
  text-align: center;
  margin: 50px 0;
}

.contact-area h2 {
  font-size: 2rem;
  margin-bottom: 20px;
}

.contact-links {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}

.contact-link {
  display: flex;
  align-items: center;
  text-decoration: none;
  margin: 10px 20px;
  color: #333;
  transition: 0.2s;
}

.contact-link:hover {
  color: #007bff;
}

.contact-link img {
  width: 40px;
  height: 40px;
  margin-right: 10px;
}

form {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 15px;
  max-width: 500px;
  margin: 0 auto;
  background-color: rgba(255, 255, 255, 0.1);
  border-radius: 10px;
  padding: 30px;
  backdrop-filter: blur(10px);
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

input[type="text"],
input[type="email"],
textarea {
  width: 100%;
  background-color: transparent;
  border: none;
  border-bottom: 2px solid #808080;
  padding: 10px;
  color: #ffffff;
  font-size: 18px;
  outline: none;
}

input[type="text"]:focus,
input[type="email"]:focus,
textarea:focus {
  border-bottom-color: #00ffff;
}

textarea {
  resize: none;
  height: 100px;
}

input[type="submit"] {
  background-color: #00ffff;
  color: #000;
  font-size: 18px;
  font-weight: bold;
  padding: 10px 20px;
  border: none;
  cursor: pointer;
  transition: background-color 0.2s;
}

input[type="submit"]:hover {
  background-color: #008080;
}

.modal-dialog {
  margin-top: 20%;
  transform: translateY(-50%);
  max-width: 800px;
}

@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@500&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  outline: none;
  border: none;
  font-family: 'Raleway', sans-serif;
}


.card {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 15px;
  max-width: 500px;
  height: 400px;
  margin: 0 auto;
  background-color: rgba(255, 255, 255, 0.1);
  border-radius: 10px;
  padding: 30px;
  backdrop-filter: blur(10px);
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  margin: 30px 0px 30px 0px;
}

.imgcard {
  width: 150px;
  height: 150px;
  border-radius: 50%;
  border: 2px solid #ffffff30;
  transition: 0.4s;
}

.card:hover img {
  border: 2px solid #fff;
  transition: 0.4s;
}

h1 {
  color: #ffffff30;
  margin-top: 15px;
  transition: 0.4s;
}

.card:hover h1 {
  color: #fff;
  transition: 0.4s;
}

p {
  color: #ffffff30;
  margin-top: 15px;
  transition: 0.4s;
}

.card:hover p {
  color: #fff;
  transition: 0.4s;
}

.icons i {
  margin: 20px 10px 0;
  font-size: 2em;
  color: #ffffff30;
  transition: 0.4s;
}

.card:hover .icons i {
  color: #ffffff;
  transition: 0.4s;
}

.tag {
  display: inline-block;
  background-color: #28a745;
  color: white;
  padding: 4px 8px;
  margin: 2px;
  border-radius: 4px;
  font-size: 0.8em;
}

.tags {
  margin-top: 10px;
}

.contact-link {
  color: white;
  text-decoration: none;
}

.contact-link:hover {
  text-shadow: 0 0 5px rgba(255, 255, 255, 0.8);
}

::placeholder {
  color: white;
  opacity: 1;
}

input:-ms-input-placeholder,
textarea:-ms-input-placeholder {
  color: white;
}

input::-ms-input-placeholder,
textarea::-ms-input-placeholder {
  color: white;
}

.certification-container {
  margin-top: 10px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.certification-image {
  width: 100%;
  height: auto;
  max-width: 300px;
  max-height: 200px;
  object-fit: contain;
  margin-bottom: 10px;
  border: 1px solid #ccc;
  padding: 5px;
}

.certification-description {
  text-align: center;
  color:rgba(255, 255, 255, 0.8);
}